body {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    font-size: 14px; }
  
  .text-white {
    color:white !important; 
  }
  
  